[submodule "LaTeX-auto-activiating-snippets"]
	path = lisp/LaTeX-auto-activating-snippets
	url = https://code.tecosaur.net/tec/LaTeX-auto-activating-snippets.git
[submodule "Lexic"]
	path = lisp/lexic
	url = https://code.tecosaur.net/tec/lexic.git
[submodule "org-pandoc-import"]
	path = lisp/org-pandoc-import
	url = https://code.tecosaur.net/tec/org-pandoc-import.git
[submodule "screenshot"]
	path = lisp/screenshot
	url = https://code.tecosaur.net/tec/screenshot.el.git
[submodule "engrave-faces"]
	path = lisp/engrave-faces
	url = https://code.tecosaur.net/tec/engrave-faces.git
[submodule "emacs-everywhere"]
	path = lisp/emacs-everywhere
	url = https://code.tecosaur.net/tec/emacs-everywhere.git
[submodule "ox-chameleon"]
	path = lisp/ox-chameleon
	url = https://code.tecosaur.net/tec/ox-chameleon.git
[submodule "pdftotext"]
	path = lisp/pdftotext
	url = https://code.tecosaur.net/tec/pdftotext.el.git
[submodule "orgdiff"]
	path = lisp/orgdiff
	url = https://code.tecosaur.net/tec/orgdiff.git
[submodule "org-music"]
	path = lisp/org-music
	url = https://code.tecosaur.net/tec/org-music.git
[submodule "ob-julia"]
	path = lisp/ob-julia
	url = https://github.com/nico202/ob-julia.git
[submodule "org-glossary"]
	path = lisp/org-glossary
	url = https://code.tecosaur.net/tec/org-glossary.git
[submodule "ox-pluto"]
	path = lisp/ox-pluto
	url = https://code.tecosaur.net/tec/ox-pluto.git
[submodule "simple-comment-markup"]
	path = lisp/simple-comment-markup
	url = https://code.tecosaur.net/tec/simple-comment-markup.git
[submodule "conf-data-toml"]
	path = lisp/conf-data-toml
	url = https://code.tecosaur.net/tec/conf-data-toml.git
[submodule "lisp/mpris"]
	path = lisp/mpris
	url = https://code.tecosaur.net/tec/mpris.el.git
[submodule "lisp/doom-modeline-media-player"]
	path = lisp/doom-modeline-media-player
	url = https://code.tecosaur.net/tec/doom-modeline-media-player.git
