[submodule "LaTeX-auto-activiating-snippets"]
	path = lisp/LaTeX-auto-activating-snippets
	url = https://github.com:tecosaur/LaTeX-auto-activating-snippets.git
[submodule "Lexic"]
	path = lisp/lexic
	url = https://github.com/tecosaur/sdcv.git
[submodule "org-pandoc-import"]
	path = lisp/org-pandoc-import
	url = https://github.com/tecosaur/org-pandoc-import.git
