[submodule "LaTeX-auto-activiating-snippets"]
	path = lisp/LaTeX-auto-activating-snippets
	url = https://github.com/tecosaur/LaTeX-auto-activating-snippets.git
[submodule "Lexic"]
	path = lisp/lexic
	url = https://github.com/tecosaur/sdcv.git
[submodule "org-pandoc-import"]
	path = lisp/org-pandoc-import
	url = https://github.com/tecosaur/org-pandoc-import.git
[submodule "authinfo-color-mode"]
	path = lisp/authinfo-color-mode
	url = https://github.com/tecosaur/authinfo-color-mode.git
[submodule "screenshot"]
	path = lisp/screenshot
	url = https://github.com/tecosaur/screenshot.git
[submodule "engrave-faces"]
	path = lisp/engrave-faces
	url = https://github.com/tecosaur/engrave-faces.git
[submodule "emacs-everywhere"]
	path = lisp/emacs-everywhere
	url = https://github.com/tecosaur/emacs-everywhere.git
[submodule "ox-chameleon"]
	path = lisp/ox-chameleon
	url = https://github.com/tecosaur/ox-chameleon.git
[submodule "pdftotext"]
	path = lisp/pdftotext
	url = https://github.com/tecosaur/pdftotext.el.git
[submodule "orgdiff"]
	path = lisp/orgdiff
	url = https://github.com/tecosaur/orgdiff.git
[submodule "org-music"]
	path = lisp/org-music
	url = https://github.com/tecosaur/org-music.git
[submodule "ob-julia"]
	path = lisp/ob-julia
	url = https://github.com/nico202/ob-julia.git
