// Common mixins and variables
@charset "UTF-8";

@import 'theme';

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

@font-face {
  font-family: 'et-book';
  src: url('https://tecosaur.com/resources/org/etbookot-roman-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'et-book';
  src: url('https://tecosaur.com/resources/org/etbookot-italic-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: fallback;
}

// Face variables
$sans-font: 'Open Sans';
$body-font: 'Merriweather';
$title-font: 'et-book';
$code-font: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;

@mixin text-underline-crop($background) {
  text-shadow: .03em 0 $background,
  -.03em 0 $background,
  0 .03em $background,
  0 -.03em $background,
  .06em 0 $background,
  -.06em 0 $background,
  .09em 0 $background,
  -.09em 0 $background,
  .12em 0 $background,
  -.12em 0 $background,
  .15em 0 $background,
  -.15em 0 $background;
}

@mixin text-background($color-bg, $color-text) {
  background-image: linear-gradient($color-text, $color-text);
  background-size: 1px 1px;
  background-repeat: repeat-x;
  background-position: 0% 95%;
}

@mixin text-selection($selection) {
  &::selection {
    @include text-underline-crop($selection);
    background: $selection;
  }

  &::-moz-selection {
    @include text-underline-crop($selection);
    background: $selection;
  }
}

@mixin link-underline($background, $text) {
  @include text-underline-crop($background);
  @include text-background($background, $text);
  @include text-selection($back-medium);

  border-radius: 1px;
  // background-color: $background;
  color: $text;
  text-decoration: none;

  *,
  *:after,
  &:after,
  *:before,
  &:before {
    text-shadow: none;
  }

  &:visited {
    color: $text;
  }
}

@mixin link-reset() {
  background: none;
  text-shadow: none;
  text-decoration: none;
}

@function twice($v1) {
  @return $v1 + $v1;
}

@mixin button($radius, $font-size, $padding) {
  padding: $padding twice($padding);
  border-style: solid;
  border-width: 1px;
  border-color: $back-light;
  border-radius: $radius;
  font-family: $sans-font;
  font-variant: all-small-caps;
  font-size: $font-size;
  font-style: normal;
  letter-spacing: 2px;
  background-image: none;
  &:hover {
    background-color: $back-light;
    background-image: none;
  }
}

@mixin tag() {
  @include button(1px, 13px, 4px);
  line-height: 8px;
  white-space: nowrap;

  &.active {
    text-shadow: none;
    text-decoration: none;
    color: $back-white;
    background-color: $code-foreground;

    &:hover {
      background-color: $back-light;
      background-image: none;
      color: $text-dark;
    }
  }
}

@mixin light-para($font-size) {
  font-family: $sans-font;
  font-weight: normal;
  font-size: $font-size;
  line-height: 1.6;
  color: $text-gray;
}

@mixin light-meta() {
  font-family: $sans-font;
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
  line-height: 1.9;
  color: $text-light;
}

@mixin left-line() {
  border-width: 0;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: $back-medium;
  margin: 20px 0;
  padding: 0;
  padding-left: 15px;
}

// Selection colors:
*::selection {
  background: $back-medium;
}

*::-moz-selection {
  background: $back-medium;
}

// Loading bar
.pace .pace-progress {
  background-color: $accent !important;
}
