figure {
  text-align: center;
  figcaption {
    .figure-number {
      @include light-meta();
    }
    margin-top: 10px;
    @include light-para(15px);
  }
}

img.zoomTarget:hover {
  cursor: default !important;
}

// make white image backgrounds match page
img {
  filter: invert(6%);
  max-width: 100%;
}

.org-svg {
  width: 90%
}
