// Org export specific styling

#org-div-home-and-up,
pre.src:hover::before {
  display: none !important;
}

// Override heading settings
.outline-2 h2 {
  font-size: 30px;
}

.outline-3 h3 {
  font-size: 24px;
  font-style: normal;
}

.outline-2 .section-number-2 {
  font-size: 30px;
}

.outline-3 .section-number-3 {
  font-size: 24px;
}

.timestamp, .timestamp-kwd {
  @include light-meta();
}

.todo, .done {
  @include tag();
  font-weight: bold;
}

.todo {
  color: #ee3333;
}

.done {
  color: $text-light;
}

.tag {
  background: white;
}

.tag > span {
  @include tag();
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 100px;
  border-style: dashed;
}

.priority {
  color: $text-light;
  font-family: $code-font;
}
